@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~bootstrap/scss/bootstrap";

body {
  background-color: #232323;
  color: #e6edf3;
  text-align: center;
  margin-top: 100px;
}

#login-form-container h1 {
  margin-bottom: 20px;
}

nav {
  background-color: #343a40;
}

#cards {
  width: 90%;
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  margin: auto;
  justify-content: center;

  .card {
    background-color: #e6edf3;
    width: 200px;
    margin: 20px;
    text-align: left;
    border-radius: 2px;

    h5, h6, p {
      margin-bottom: 20px;
    }

    a {
      text-decoration: none;
    }
  }
}

#filter {
  padding-bottom: 20px;
}

.btn-primary {
  width: 120px;
  background-color: #6c757d;
  border: none;
  border-radius: 2px;
  margin: 0 10px;
}

.btn-primary:hover {
  background-color: #e6edf3;
  color: #232323;
}

#form-container {
  display: flex;
  justify-content: center;
  text-align: left;
}

form {
  width: 50%;

  input, textarea, select {
    margin-bottom: 20px;
  }
}
